@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d1c8c8;
}

.sortable-list {
  background: #fff;
  width: 445px;
  padding: 30px 25px 10px;
  border-radius: 5px;
}

.sortable-list .item {
  border-radius: 5px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px 13px;
  margin-bottom: 11px;
}

.item .details {
  display: flex;
  align-items: center;

}
.item .details img {
  width: 39px;
  height: 39px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;

}

.item .details span {
  font-size: 1rem;
}

.item i {
  font-size: 1rem;
  color: #474747
}

.item.dragging :where(.details, i){
  opacity: 0;
}